#!/usr/bin/env python3
# -*- coding: utf-8 -*-
"""
Created on Sun Jul 06 15:57:45 2019

@author: Sven Serneels, Ponalytics
"""

#
####### ppdire-requirements.txt #######
#
###### Requirements without Version Specifiers ######
numpy
collections
inspect
scipy
sklearn
copy
pandas
statsmodels
numpy
warnings
sprm

#
###### Requirements with Version Specifiers ######
#   See https://www.python.org/dev/peps/pep-0440/#version-specifiers
python > 3.5
sprm > 0.3

